<header>
      <div class="title">
          Junichiro Yamamoto
      </div>
      <nav>
          <ul>
              <li><%=link_to 'Home',root_path,class:'nav-link' %></li>
              <li><a href="#" class="nav-link">Profile</a></li>
              <li><%=link_to 'Works',works_index_path,class:'nav-link'%></li>
          </ul>
      </nav>
  </header>
